<!DOCTYPE html>
<html>
    <head></head>
    <style>
        body {
            font-family: "Helvetica";
            line-height: 1.6;
            font-stretch: expanded;
        }
        img.thumbnail {
            width: 64px;
            height: 64px;
        }
        img.error {
            width: 32px;
            height: 32px;
        }
        div.main_panel {
            max-width: 800px;
        }
        div.model_view {
            overflow: auto;
            max-width: 95%;
            max-height: 480px;
        }
        div.container {
            position: relative;
        }
        div.img_overlay {
            opacity: 0.75;
            float: left;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 1000;
            padding: 0px;
            font-weight: bold;
        }
        #img-model {
            max-width: 90%;
        }
        #div-tooltip {
            display: none;
            position: absolute;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../{{ cgi_prefix }}static/scripts/graphics.min.js"></script>
    <script src="../{{ cgi_prefix }}static/scripts/upload.js"></script>
    <script>
        var face_services = function() {
            var canvas = 0;
            var EMOTIONS = ['angry', 'disgusted', 'fearful', 'happy', 'sad', 'surprised', 'neutral'];
            var scaling = 1.0;
            var res_cap = 448;
            var factor = 0.6;

            function round(n, precision=3) {
                var d = Math.pow(10, precision);
                return Math.round(n*d)/d;
            }

            function init() {
                if (canvas==0) {
                    canvas = acgraph.create('div-overlay');
                }
            }
            
            function render(request) {
                init();
                var services = request['services'];
                for (var i=0; i<services.length; i++) {
                    var service = services[i];
                    var results = service['results'];

                    console.log('results', results);
                    // Display MTCNN rectangles and emotions
                    if ('rectangles' in results) {
                        var rectangles = results['rectangles'];
                        for (var j=0; j<rectangles.length; j++) {
                            var r = rectangles[j];
                            r[0] = r[0] * face_services.scaling;
                            r[1] = r[1] * face_services.scaling;
                            r[2] = r[2] * face_services.scaling;
                            r[3] = r[3] * face_services.scaling;
                            canvas.rect(r[0], r[1], r[2], r[3]).stroke('fuchsia', 2);

                            if ('landmarks' in results) {
                                landmarks = results['landmarks'][j];
                                for (var k=0; k<landmarks.length; k++) {
                                    var p = landmarks[k];
                                    p[0] = p[0] * face_services.scaling;
                                    p[1] = p[1] * face_services.scaling;
                                    canvas.circle(p[0], p[1], 1).stroke('black', 2);
                                }
                            }

                            if ('emotions' in results) {
                                e = results['emotions'][j];
                                var emax = -1;
                                var emax_i = -1;
                                for (var k=0; k<EMOTIONS.length; k++) {
                                    //console.log('compare', l, e, e[l], emax);
                                    if (e[k] > emax) {
                                        emax = e[k];
                                        emax_i = k;
                                    }
                                }
                                //console.log('emotions', EMOTIONS, emotions, emax_i);
                                if (emax_i >= 0) {
                                    var t = acgraph.text(r[0], r[1]-15);
                                    t.parent(canvas);
                                    t.style({fontSize: '12px', color: 'fuchsia'});
                                    t.text(EMOTIONS[emax_i]);
                                }
                            }

                        }
                    }

                    if ('timing' in results) {
                        var timing = results['timing'];
                    }
                    if ('summary' in request) {
                        console.log('summary', request['summary']);
                        var summary = request['summary'];
                        console.log('timing', timing);
                        var t_server = summary['timing']['server_sent'] - summary['timing']['server_rcv'];
                        var t_total = summary['timing']['client_rcv'] - summary['timing']['client_sent'];
                        var t_transmission = t_total - t_server;
                        $('#div-summary').html(
                            'Total response time: ' + round(t_total) + ' ms<br/>' +
                            'Transmission and client time: ' + round(t_transmission) + ' ms<br/>' +
                            'Total server time: ' + round(t_server) + ' ms<br/>' +
                            'Image processing time (server): ' + round(timing['fit_resize']) + ' ms<br/>' +
                            'MTCNN detection time (server): ' + round(timing['mtcnn']) + ' ms<br/>' +
                            'Resolution cap: ' + res_cap + '<br/>' +
                            'Faces detected: ' + rectangles.length + '<br/>' +
                            'Image processing time (server): ' + round(timing['emoc_prepare']) + ' ms<br/>' +
                            'Emotion recognition time (server): ' + round(timing['emoc']) + ' ms<br/>'
                        );
                    }
                }
            }

            function preview(base64data) {
                init();
                $('#div-summary').html('Waiting for sever response...');
                canvas.remove();
                canvas = acgraph.create('div-overlay');
                var img = $('#img-sample');
                img.one('load', function() {
                    face_services.scaling = this.clientWidth / this.naturalWidth;
                    console.log('naturalWidth', this.naturalWidth, this.clientWidth, face_services.scaling);
                    var img = $('#img-sample');
                    var div = $('#div-overlay')
                    $('#div-overlay').width(img.width()).height(img.height());
                });
                img.attr('src', base64data);
            }
            
            return {
                preview: preview,
                render: render,
                round: round,
                res_cap: res_cap,
                factor: factor,
            }
        }();

        $( document ).ready(function() {
            $('img.error').hover( function(e) {
                    var predict = $(this).attr('data-predict').split(",");
                    var img = $($('#div-classes .thumbnail').get(parseInt(predict[0])));
                    var src = img.attr("src");
                    $('#img-incorrect').attr("src", src);
                    var img = $($('#div-classes .thumbnail').get(parseInt(predict[1])));
                    var src = img.attr("src");
                    $('#img-correct').attr("src", src);
                    $('#div-tooltip').css({left:e.pageX+16, top:e.pageY+16}).show();
                }
            );

            $('#div-errors').mouseout( function(e) {
                    $('#div-tooltip').hide();
                }
            );

            $('#file-upload-face').change( function (e) {
                    mUploadManager.enqueueList({
                            endpoint: '../{{ cgi_prefix }}predict',
                            services: [
                                //{type: 'face_', model: 'mtcnn'},
                                {type: 'face_', model: 'alexnet-emoc', options: {
                                    'factor': face_services.factor,
                                    'res_cap': face_services.res_cap
                                }}
                            ]
                        }, $(this), function (status, response) {
                        if (status==mUploadManager.STATUS.Error) {
                            if (response.code==mUploadManager.ERROR.NotAFile) {
                                console.log('mUploadManager: Not a file');
                            } else if (response.code==mUploadManager.ERROR.InvalidType) {
                                console.log('mUploadManager: Unaccepted file type ' + response.fobj.type);
                            } else {
                                console.log('mUploadManager: Unhandled exception');
                                console.log(response);
                            }
                        } else if (status==mUploadManager.STATUS.Success) {
                            console.log('success', status, response);
                            face_services.render(response);
                        } else if (status==mUploadManager.STATUS.Sent) {
                            for (var i=0; i<response['requests'].length; i++) {
                                var request = response['requests'][i];
                                var base64img = 'data:image/jpeg;base64,' + request['media']['content'];
                                //console.log('sent', status, base64img);
                                face_services.preview(base64img);
                            }
                        } else {
                            console.log('unexpected', status, response);
                        }
                    });
                }
            );

            $('#file-upload-void').change( function (e) {
                    mUploadManager.enqueueList({
                            endpoint: '../{{ cgi_prefix }}predict',
                            services: [
                                {type: '_void', model: ''}
                            ]
                        }, $(this), function (status, response) {
                        if (status==mUploadManager.STATUS.Error) {
                            if (response.code==mUploadManager.ERROR.NotAFile) {
                                console.log('mUploadManager: Not a file');
                            } else if (response.code==mUploadManager.ERROR.InvalidType) {
                                console.log('mUploadManager: Unaccepted file type ' + response.fobj.type);
                            } else {
                                console.log('mUploadManager: Unhandled exception');
                                console.log(response);
                            }
                        } else if (status==mUploadManager.STATUS.Success) {
                            console.log('success', status, response);
                            if ('summary' in response) {
                                var summary = response['summary'];
                                var t_server = summary['timing']['server_sent'] - summary['timing']['server_rcv'];
                                var t_total = summary['timing']['client_rcv'] - summary['timing']['client_sent'];
                                var t_transmission = t_total - t_server;
                                $('#div-summary-void').html(
                                    'Total response time: ' + face_services.round(t_total) + ' ms<br/>' +
                                    'Transmission and client time: ' + face_services.round(t_transmission) + ' ms<br/>' +
                                    'Total server time: ' + face_services.round(t_server) + ' ms<br/>'
                                );
                            }
                        } else if (status==mUploadManager.STATUS.Sent) {
                            console.log('sent', status, response);
                            var requests = response['requests'];
                            for (var i=0; i<requests.length; i++) {
                                var request = requests[i];
                            }
                        } else {
                            console.log('unexpected', status, response);
                        }
                    });
                }
            );
        });
    </script>
    <body>
        <div id="div-tooltip" style="background-color: gray; padding: 8px;">
            predict / truth<br/>
            <img id="img-incorrect" class="thumbnail" src=""></img>
            <img id="img-correct" class="thumbnail" src=""></img>
        </div>
        <div class="main_panel">
            <h2>Arobot Computer Vision Services</h2>

            <div>
            <h3>Face Detection and Classification</h3>
                <form action="$action" enctype="multipart/form-data" method="post">
                    Upload files...
                    <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
                    <input type="file" id="file-upload-face" name="upload" multiple="multiple"><br/>
                </form>

                <div style="width: 100%; display: table;">
                    <div id="div-results" class="container">
                        <div id="div-overlay" class="img_overlay" style="width: 400px; height: 0px;"></div>
                        <img id="img-sample" style="max-width: 512px;"></img>
                    </div>
                    <div id="div-summary" style="display: table-cell; width: 360px; padding: 5px; vertical-align: top;"></div>
                </div>
            </div>

            <div>
            <h3>Networking and Sanity Check</h3>
                <form action="$action" enctype="multipart/form-data" method="post">
                    Upload files...
                    <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
                    <input type="file" id="file-upload-void" name="upload" multiple="multiple"><br/>
                </form>
                <div id="div-summary-void"></div>
            </div>

            <!--
            <h3>Method</h3>
            <ul>
                <li>Preprocess of images
                    <ul>
                        <li>Discard color (cv2.COLOR_RGB2GRAY)</li>
                        <li>Apply histogram equalization</li>
                        <li>Apply CLAHE, contrast limited adaptive histogram equalization</li>
                        <li>Flip to expand dataset</li>
                    </ul>
                </li>
                <li>Mutation
                    <ul>
                        <li>Rotation: ±15 degrees</li>
                        <li>Perspective transformation: ±20% of dimension on all 4 corners</li>
                    </ul>
                </li>
                <li>Training flow
                    <ul>
                        <li>Balanced data: Feed with same amount of samples in each class</li>
                        <li>Fine-tuning: Reduce learn rate (from 0.02 to 0.0001) and sample mutation intensity (from 1.0 to 0.75) after initial training</li>
                        <li>Use separate set for validation</li>
                        <li>Early stop if validation loss does not improve in 16 epochs</li>
                        <li>Save weights only when validation accuracy improves</li>
                    </ul>
                </li>
            </ul>
            -->

            <br/><br/><br/><br/>

        </div>
    </body>
</html>