<!DOCTYPE html>
<html>
    <head></head>
    <style>
        body {
            font-family: "Helvetica";
            line-height: 1.6;
            font-stretch: expanded;
        }
        img.thumbnail {
            width: 64px;
            height: 64px;
        }
        img.error {
            width: 32px;
            height: 32px;
        }
        div.main_panel {
            max-width: 800px;
        }
        div.model_view {
            overflow: auto;
            max-width: 95%;
            max-height: 480px;
        }
        #img-model {
            max-width: 90%;
        }
        #div-tooltip {
            display: none;
            position: absolute;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/scripts/upload.js"></script>
    <script>
        $( document ).ready(function() {
            $('img.error').hover( function(e) {
                    var predict = $(this).attr('data-predict').split(",");
                    var img = $($('#div-classes .thumbnail').get(parseInt(predict[0])));
                    var src = img.attr("src");
                    $('#img-incorrect').attr("src", src);
                    var img = $($('#div-classes .thumbnail').get(parseInt(predict[1])));
                    var src = img.attr("src");
                    $('#img-correct').attr("src", src);
                    $('#div-tooltip').css({left:e.pageX+16, top:e.pageY+16}).show();
                }
            );

            $('#div-errors').mouseout( function(e) {
                    $('#div-tooltip').hide();
                }
            );

            $('#file_upload').change( function (e) {
                    mUploadManager.enqueueList({type: 'gtsrb', model: 'as', endpoint: '../predict'}, $(this), function (status, response) {
                        if (status==mUploadManager.STATUS.Error) {
                            if (response.code==mUploadManager.ERROR.NotAFile) {
                                console.log('mUploadManager: Not a file');
                            } else if (response.code==mUploadManager.ERROR.InvalidType) {
                                console.log('mUploadManager: Unaccepted file type ' + response.fobj.type);
                            } else {
                                console.log('mUploadManager: Unhandled exception');
                                console.log(response);
                            }
                        } else {
                        }
                    });
                }
            );
        });
    </script>
    <body>
        <div id="div-tooltip" style="background-color: gray; padding: 8px;">
            predict / truth<br/>
            <img id="img-incorrect" class="thumbnail" src=""></img>
            <img id="img-correct" class="thumbnail" src=""></img>
        </div>
        <div class="main_panel">
            <h2>Task: The German Traffic Sign Recognition Benchmark</h2>
            2018-02-01 Lim Lee

            <h3>Classes</h3>
            <div id="div-classes">
                {% for path in classes %}
                    <img class="thumbnail" src="../img/thumbnail/{{ path }}"></img>
                {% end %}
            </div>

            <h3>Model (a modified lenet)</h3>
            <div class="model_view">
                <img id="img-model" src="../img/model/{{ model_name }}/{{ model_diagram }}"></img>
            </div>

            <h3>Training history</h3>
            <img src="../img/model/{{ model_name }}/{{ history_diagram }}"></img>

            <h3>Results</h3>
                <form id="form_upload" action="$action" enctype="multipart/form-data" method="post">
                    Upload files to predict...
                    <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
                    <input type="file" id="file_upload" name="upload" multiple="multiple"><br/>
                </form>                
                <p>Overall accuracy: {{ 1 - (stats[1] / stats[2]) }}</p>
            <div id="div-errors">
            {% for error in errors %}
                <img class="error" src="../img/model/{{ model_name }}/errors/{{ error[0] }}" data-predict="{{ error[1] }},{{ error[2] }}"></img>
            {% end %}
            </div>

            <h3>Method</h3>
            <ul>
                <li>Preprocess of images
                    <ul>
                        <li>Discard color (cv2.COLOR_RGB2GRAY)</li>
                        <li>Apply histogram equalization</li>
                        <li>Apply CLAHE, contrast limited adaptive histogram equalization</li>
                        <li>Flip to expand dataset</li>
                    </ul>
                </li>
                <li>Mutation
                    <ul>
                        <li>Rotation: ±15 degrees</li>
                        <li>Perspective transformation: ±20% of dimension on all 4 corners</li>
                    </ul>
                </li>
                <li>Training flow
                    <ul>
                        <li>Balanced data: Feed with same amount of samples in each class</li>
                        <li>Fine-tuning: Reduce learn rate (from 0.02 to 0.0001) and sample mutation intensity (from 1.0 to 0.75) after initial training</li>
                        <li>Use separate set for validation</li>
                        <li>Early stop if validation loss does not improve in 16 epochs</li>
                        <li>Save weights only when validation accuracy improves</li>
                    </ul>
                </li>
            </ul>

            <h3>References</h3>
            <ul>
                <li>
                    Stanford Vision Lab (2017).
                    <a href="http://cs231n.github.io/convolutional-networks/">CS231n Convolutional Neural Networks for Visual Recognition<a/>
                </li>
                <li>
                    Pierre Sermanet and Yann LeCun (2011).
                    <a href="http://yann.lecun.com/exdb/publis/pdf/sermanet-ijcnn-11.pdf">Traffic Sign Recognition with Multi-Scale Convolutional Networks</a>
                </li>
                <li>
                    Alex Staravoitau (2017).
                    <a href="https://navoshta.com/traffic-signs-classification/">Traffic signs classification with a convolutional network<a/>
                </li>
            </ul>

            <h3>Updates</h3>
            <ul>
                <li>2018-02-01 Modified model
                    <ul>
                        <li>Increase to 3 convolution layers (from 2)</li>
                        <li>Expand fully-connected layer to 1024 units (from 400)</li>
                        <li>Remove second fully-connected layer</li>
                    </ul>
                </li>
                <li>2018-01-31 Modified image preprocessing
                    <ul>
                        <li>Use one of the 3 channels of YCrCb with highest entropy</li>
                        <li>YCrCb is choosen after being compared with LAB and HSV</li>
                    </ul>
                </li>
            </ul>

            <br/><br/><br/><br/>

        </div>
    </body>
</html>